@{
    ViewBag.Title = "Error Page";
}

<h2>Oops! Something went wrong.</h2>
<p>We apologize for the inconvenience. Please try again later.</p>

<a href="@Url.Action("Index", "Student")" class="btn btn-primary">Go to Home</a>
